version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      github-actions-same-version:
        patterns:
          - "*"
    labels:
      - dependencies
      - github-actions
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      pre-commit-hooks:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    labels:
      - dependencies
      - pre-commit
    open-pull-requests-limit: 5
